body {
    font-family: 'Montserrat', sans-serif;
    background-color: #555555
}

.logo {
    font-size: 22px;
    font-weight: 700;
    color: #F65261;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 1080px;
    height: 360px;
    background-color: #232323;
    color: white;
    margin-top: 32px;
    padding: 20px 60px;
    margin-bottom: 10px;
}

.dColumn {
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: 300;
    font-size: 38px;
}

.findMovie {
    margin: 30px 0 42px 60px
}

.search {
    display: flex;
    margin-left: 60px;
    height: 58px;
}

.search input {
    width: 710px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 12px;
    color: white;
    padding: 0 24px;
}

.search button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    width: 235px;
    background-color: #F65261;
    color: white;
    cursor: pointer;
}

.addBtn {
    width: 180px;
    height: 48px;
    color: #F65261;
    align-self: flex-end;
    cursor: pointer;
    background-color: #555555;
    opacity: .8;
    font-weight: 600;
}

.borderR {
    border-radius: 4px;
    font-size: 20px;
    border: none;
}

.outlineNone {
    outline: none;
}

.main {
    display: flex;
    flex-direction: column;
    background-color: #232323;
    width: 1080px;
    padding: 60px;
}

.navBar {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 20px;
}

.navItem {
    cursor: pointer;
    margin-right: 24px;
}

.navItemSort {
    margin-right: 20px;
    color: #555555;
}

.navItemDropdown {
    border: none;
    background-color: #232323;
    font-size: 20px;
    color: white;
}

.movieList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.addModal {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .4);
    position: fixed;
    backdrop-filter: blur(8px);
    padding-top: 10%;
    color: white;
}

.firstInput {
    margin-top: 44px;
}

.modalContent {
    width: 690px;
    padding: 73px 85px 73px 53px;
    margin: auto;
    background-color: #232323;
}

.modalContent li {
    list-style-type: none;
    margin-bottom: 32px;
}

.modalContent button {
    height: 60px;
    width: 180px;
    font-weight: 500;
    cursor: pointer;
}

.textInput {
    display: flex;
    flex-direction: column;
}

.label {
    color: #F65261;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 14px;
    letter-spacing: 1px;
}

.textInput .input {
    height: 60px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 4px;
    border: none;
    padding-left: 20px;
    font-size: 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.btnsWrapper {
    display: flex;
    justify-content: flex-end;
}

.rstBtn {
    background-color: #232323;
    border: 1px solid #F65261;
    color: #F65261;
    margin-right: 15px;
}

.sbmtBtn {
    background-color: #F65261;
    color: white;
}

.closeModal {
    cursor: pointer;
    float: right;
}

.fontSizeBg {
    font-size: 32px;
}

footer {
    height: 72px;
    width: 1200px;
    background-color: #F65261;
}
